.card {
    width: 90%;
    margin: 5%;
}

.circle {
    border-radius: 100%;
}


a[mat-raised-button] {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

// either this or some bootstrap
.crx-profile-detail--label-spacer {
    margin-right: 1rem;
}
