<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile Details"></crx-header>
    </div>
    <button mat-raised-button (click)="navToProfileList()">View Profile List</button>
    <ng-container *ngIf="userListUser$ | async as userListUser;else newRandomUser">
        <crx-profile-card
            [user]="userListUser"
            [loading]="loading$ | async"
        >    
        </crx-profile-card>
    </ng-container>
    <ng-template #newRandomUser>
        <crx-profile-card
            [user]="user$ | async"
            [loading]="loading$ | async"
        ></crx-profile-card>
    </ng-template>
</crx-page>
