<crx-page>
  <div class="header">
    <crx-header pageTitle="Profile List"></crx-header>
  </div>
  <mat-card class="card" (click)="gotoProfile($event, null)">
    <mat-card-title-group>
      <mat-card-title>Random Profile</mat-card-title>
    </mat-card-title-group>
  </mat-card>
  <mat-card class="card" *ngFor="let user of users$ | async as user; index as index"
    (click)="gotoProfile($event, index)">
    <mat-card-title-group>
      <img class="circle" mat-card-md-image [src]="user.picture" />
      <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</crx-page>